@font-face {
    font-family: 'Bubblegum Sans';
    src: url('../fonts/BubblegumSans-Regular.eot');
    src: url('../fonts/BubblegumSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BubblegumSans-Regular.woff2') format('woff2'),
        url('../fonts/BubblegumSans-Regular.woff') format('woff'),
        url('../fonts/BubblegumSans-Regular.ttf') format('truetype'),
        url('../fonts/BubblegumSans-Regular.svg#BubblegumSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

